<!DOCTYPE html>
<html>
<head>
    {% include 'components/head.html' %}
</head>
<body>
{% include 'components/menu.html' %}
<div class="ui container">
    <h4 class="ui block top attached header">
        <div class="content">{{ type.name }}</div>
    </h4>
    <div class="ui botton attached segment">
        <p>{{ type.description }}</p>
        <br/>
        <div class="ui form">
            <div class="field">
                <label>输入你的作品</label>
                <textarea rows="10"></textarea>
            </div>
            <button class="ui primary button" id="submit">
                提交
            </button>
        </div>
    </div>
    <div id="slow_message" class="ui message hidden">
        <div class="header">
            <i class="info icon"></i>请稍等，我们正在 sparkling...
        </div>
    </div>
    <div id="error_message" class="ui negative message hidden">
        <div class="header">
            <i class="close icon"></i>
            <span id="error_text"></span>
        </div>
        <span id="error_detail"></span>
    </div>
</div>
{% include 'components/footer.html' %}
<script>
    $('.ui.dropdown')
        .dropdown()
    ;
</script>
<script>
    var typeid = "{{ typeid }}";
</script>
<!-- Geetest Inital -->
<script src="/static/gt4.min.js"></script>
<script>
    var button = $('.ui.button#submit');
    var captchable = false;
    initGeetest4({
        captchaId: '{{ captcha_id }}',
        product: 'bind',
    }, (captcha) => {
        window.captcha = captcha;
        captcha.onReady(function () {
            captchable = true;
        }).onSuccess(function () {
            var result = captcha.getValidate();
            if (!result) {
                $("#error_text").text('请完成验证');
                $("#error_message").removeClass('hidden');
            }
            result.captcha_id = '{{ captcha_id }}';
            $('.ui.button#submit').addClass('loading');
            $("#slow_message").removeClass('hidden');
            $.ajax({
                url: `/api/create/${typeid}`,
                method: 'POST',
                timeout: 0,
                headers: {
                    'Content-Type': 'application/json'
                },
                data: JSON.stringify({
                    'composition': $('textarea').val(),
                    'captcha': result
                }),
            }).done((response) => {
                response = JSON.parse(response);
                console.log(response);
                red = response['redirect'];
                if(red == undefined) {
                    $("#error_text").text('提交失败');
                    $("#error_detail").text('请稍后重试。')
                    $("#error_message").removeClass('hidden')
                    return;
                }
                window.location.href = red;
            });
        }).onError(function () {
            $("#error_text").text('验证失败');
            $("#error_detail").text('验证码加载失败，请稍后重试。')
            $("#error_message").removeClass('hidden')
        })
    });
    button[0].addEventListener('click', function () {
        $("#error_message").addClass('hidden');
        if (captchable) {
            captcha.showBox();
        }
    });
</script>
</body>
</html>
