<!DOCTYPE html>
<html>
  <head>
    {% include 'components/head.html' %}
  </head>
  <body>
    {% include 'components/menu.html' %}
    <div class="ui container">
      <div id="error_message" class="ui negative message">
        <div class="header">
          <i class="close icon"></i>
          错误
        </div>
        {{ message }}
      </div>
    </div>
    <div class="ui vertical footer segment">
      <div class="ui center aligned container">
        <p>Made by <a href="https://lampese.com/about/">Lampese</a> and <a href="https://codezhangborui.com/">CodeZhangBorui</a></p>
        <p>
          Web Security Powered by
          <a href="https://www.geetest.com/" target="_blank">Geetest</a>
        </p>
      </div>
    </div>
    <script>
      $('.ui.dropdown')
        .dropdown()
      ;
    </script>
  </body>
</html>
