<!DOCTYPE html>
<html>
<head>
    {% include 'components/head.html' %}
</head>
<body>
{% include 'components/menu.html' %}
<div class="ui container">
    <div class="flex mt-40 mb-40">
        <div class="flex-1">
            <div class="max-w-lg text-4xl font-bold">
                <h1>It's time to</h1>
                <h1>make your writing
                    <span class="font-bold bg-clip-text text-transparent bg-gradient-to-r from-red-500 to-purple-500">
                        sparkle
                    </span>
                </h1>
                <h1>with
                    <span class="font-bold bg-clip-text text-transparent bg-gradient-to-r from-red-500 to-purple-500">
                    AI
                    </span>
                .</h1>
            </div>
        </div>
        <div class="flex-2 hidden md:block">
            <img src="/static/animated_writing_hands.png" alt="WriteSparkle" class=" h-40" />
        </div>
    </div>
    <h4 class="ui block top attached header">
        <div class="content">现在开始</div>
    </h4>
    {% for product in products %}
    <div class="ui botton attached segment">
        <h4 class="gap-8 text-lg font-bold">{{ product.name }}</h4>
        <p>{{ product.description }}</p>
        <a href="/create/{{ product.id }}" class="ui button">开始</a>
    </div>
    {% endfor %}
</div>
{% include 'components/footer.html' %}
<script>
    $('.ui.dropdown')
        .dropdown()
    ;
</script>
</body>
</html>
