<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GPT-4-Composition</title>
    <link rel="stylesheet" href="/static/semantic-ui/semantic.min.css" />
    <link rel="stylesheet" href="/static/index.css" />
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/semantic-ui/semantic.min.js"></script>
  </head>
  <body>
    <div class="ui menu boarderless top">
      <div class="item">GPT-4-Composition</div>
      <a href="/" class="item active">
        主页
      </a>
      <div class="ui dropdown item">
        <div class="text">现在开始</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <a href="/subsequent" class="item">读后续写优化</a>
        </div>
      </div>
    </div>
    <div class="ui container">
      <h4 class="ui block top attached header">
        <div class="content">欢迎！</div>
      </h4>
      <div class="ui bottom attached segment">
        <h1>Here's GPT-For-Composition 👋</h1>
        <p>
          我们的网站是您提升写作技巧的绝佳选择。通过与 ChatGPT
          互动，您可以轻松输入您的作文，并获得即时的修改和美化建议。不管是学生还是专业写手，我们都为您提供了一个强大的工具，让您的作文在瞬间焕发生机
          ✨！
        </p>
        <p>
          ChatGPT
          是一个经过训练的超级聪明的AI模型，它能够理解和生成自然语言。它将根据您的作文内容，为您提供个性化的反馈和建议。无论是句子结构、词汇选择还是语法错误，ChatGPT
          都会为您指出，并帮助您进行改进 ✍️。
        </p>
        <p>
          我们的网站界面简洁友好，让您能够轻松输入和编辑作文。您可以一句一句或者一段一段地输入作文，与
          ChatGPT 进行互动，获取更多建议和灵感 🤩。
        </p>
      </div>
      <h4 class="ui block top attached header">
        <div class="content">现在开始</div>
      </h4>
      <div class="ui botton attached segment">
        <h4>读后续写优化</h4>
        <p>优化读后续写文章，检查语法错误并美化句子。</p>
        <a href="/subsequent" class="ui button">开始</a>
      </div>
    </div>
    <div class="ui vertical footer segment">
      <div class="ui center aligned container">
        <p>Made by <a href="https://lampese.com/about/">Lampese</a> and <a href="https://codezhangborui.com/">CodeZhangBorui</a></p>
        <p>
          Web Security Powered by
          <a href="https://www.geetest.com/" target="_blank">Geetest</a>
        </p>
      </div>
    </div>
    <script>
      $('.ui.dropdown')
        .dropdown()
      ;
    </script>
  </body>
</html>
