<div
  class="sticky mb-10 top-0 z-40 w-full backdrop-blur-sm flex-none transition-colors duration-500 lg:z-50 lg:border-b lg:border-slate-900/10 dark:border-slate-50/[0.06] bg-white/95 supports-backdrop-blur:bg-white/60 dark:bg-transparent"
>
  <div class="max-w-8xl mx-auto text-lg">
    <div class="py-4 border-b border-slate-900/10 lg:px-8 lg:border-0 dark:border-slate-300/10 mx-4 lg:mx-0">
      <div class="relative flex items-center">
        <a class="mr-3 flex-none w-[2.0625rem] overflow-hidden md:w-auto" href="/">
          <img src="/static/favicon.ico" alt="WriteSparkle" class="h-8 object-contain" />
        </a>
        <p class="relative" href="/">
          <span class="font-bold bg-clip-text text-transparent bg-gradient-to-r from-red-500 to-purple-500">WriteSparkle</span>
        </p>
        <div class="relative hidden lg:flex items-center ml-10 text-lg">
          <nav class="text-base leading-6 font-semibold text-slate-700 dark:text-slate-200">
            <ul class="flex space-x-8">
              <li><a class="hover:text-sky-500 dark:hover:text-sky-400" href="/">主页</a></li>
              <li><a class="hover:text-sky-500 dark:hover:text-sky-400" href="/about">关于</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
